examples/打怪小游戏.json
[
    {
        "id": "7c49ef8493965d7a",
        "type": "tab",
        "label": "打怪小游戏",
        "disabled": false,
        "info": "蒙德城大门似乎需要我们的帮助\r\n任务：清理魔物\r\n奖励：满级圣遗物\r\n请到蒙德城大门处触发任务",
        "env": []
    },
    {
        "id": "2691422d72c44cf7",
        "type": "inject",
        "z": "7c49ef8493965d7a",
        "name": "开始",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "a3a2d98fa423b7af"
            ]
        ]
    },
    {
        "id": "2a81b3882ac7cfb8",
        "type": "OnPosition",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "b64ff8a795f6e8f9"
            ]
        ]
    },
    {
        "id": "de0b4085b7f5928c",
        "type": "change",
        "z": "7c49ef8493965d7a",
        "name": "检测是否进到蒙德城门口",
        "rules": [
            {
                "t": "set",
                "p": "payload.X",
                "pt": "msg",
                "to": "2221.8228",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.Y",
                "pt": "msg",
                "to": "210.08243",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.Z",
                "pt": "msg",
                "to": "-948.75793",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.scene",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.R",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "2a81b3882ac7cfb8"
            ]
        ]
    },
    {
        "id": "ce865f64dc02f4f5",
        "type": "SendMessage",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "cb936716582af550"
            ]
        ]
    },
    {
        "id": "b64ff8a795f6e8f9",
        "type": "change",
        "z": "7c49ef8493965d7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "游戏开始！",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "ce865f64dc02f4f5"
            ]
        ]
    },
    {
        "id": "1bc4ae9c8aaeca31",
        "type": "OnKillEntity",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "47c71f02516a19b3",
                "42d441fb23d8594e"
            ]
        ]
    },
    {
        "id": "8371366ab13ab5d0",
        "type": "CreateEntity",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 710,
        "y": 560,
        "wires": [
            [
                "1bc4ae9c8aaeca31"
            ]
        ]
    },
    {
        "id": "a3a2d98fa423b7af",
        "type": "template",
        "z": "7c49ef8493965d7a",
        "name": "玩家UID",
        "field": "payload.player",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "666777",
        "output": "str",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "a4b4d3d9fe300eed"
            ]
        ]
    },
    {
        "id": "cb936716582af550",
        "type": "change",
        "z": "7c49ef8493965d7a",
        "name": "丘丘人",
        "rules": [
            {
                "t": "set",
                "p": "payload.Entity_id",
                "pt": "msg",
                "to": "21010101",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.amount",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload.level",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "8371366ab13ab5d0"
            ]
        ]
    },
    {
        "id": "47c71f02516a19b3",
        "type": "switch",
        "z": "7c49ef8493965d7a",
        "name": "",
        "property": "payload.level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "51",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 930,
        "y": 680,
        "wires": [
            [
                "7dd1b7916528526a"
            ]
        ]
    },
    {
        "id": "7dd1b7916528526a",
        "type": "function",
        "z": "7c49ef8493965d7a",
        "name": "等级+10",
        "func": "msg.payload.level = msg.payload.level + 10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 680,
        "wires": [
            [
                "8371366ab13ab5d0"
            ]
        ]
    },
    {
        "id": "42d441fb23d8594e",
        "type": "switch",
        "z": "7c49ef8493965d7a",
        "name": "",
        "property": "payload.level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "51",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1150,
        "y": 520,
        "wires": [
            [
                "f2cd117dd7a6f142"
            ]
        ]
    },
    {
        "id": "f2cd117dd7a6f142",
        "type": "change",
        "z": "7c49ef8493965d7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "任务完成！",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 380,
        "wires": [
            [
                "412037652a72245a"
            ]
        ]
    },
    {
        "id": "412037652a72245a",
        "type": "SendMessage",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 1360,
        "y": 380,
        "wires": [
            [
                "7847c55afbdc754f"
            ]
        ]
    },
    {
        "id": "7847c55afbdc754f",
        "type": "change",
        "z": "7c49ef8493965d7a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.cmd",
                "pt": "msg",
                "to": "give 57514 lv20 13003 989001,999 999002,999 ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 460,
        "wires": [
            [
                "e6e2069f25137fe7"
            ]
        ]
    },
    {
        "id": "e6e2069f25137fe7",
        "type": "RunCmdByPlayer",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 1410,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a4b4d3d9fe300eed",
        "type": "function",
        "z": "7c49ef8493965d7a",
        "name": "正文内容",
        "func": "var content = `\n蒙德城大门似乎需要我们的帮助\n任务：清理魔物\n奖励：满级圣遗物\n请到蒙德城大门处触发任务\n`\n// expireTime 是到期时间（时间戳:秒）\n\nvar rmsg = {\n    \"payload\":{\n        \"player_uid\": msg.payload.player,\n        \"MailContent\": {\n            \"title\": \"小游戏\",\n            \"content\": content,\n            \"sender\": \"琴团长\"\n        },\n        \"expireTime\": 1785513600,\n        \"itemList\":[]\n    }\n}\nreturn rmsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 220,
        "wires": [
            [
                "de70f0515ddc846f"
            ]
        ]
    },
    {
        "id": "de70f0515ddc846f",
        "type": "SendMail",
        "z": "7c49ef8493965d7a",
        "server": "",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "de0b4085b7f5928c"
            ]
        ]
    }
]